/** @format */

@media screen and (max-width: 1000px) {
  #nav-bar {
    display: none;
  }
  .nav-humburger {
    display: flex;
  }
  #profile {
    position: relative;
  }
  #about {
    position: relative;
  }
  #experience {
    position: relative;
  }
  #projects {
    position: inherit;
  }
  #profile,
  #about,
  #experience,
  #projects {
    max-width: fit-content;
  }
  .arrow {
    display: none;
  }
  #projects {
    margin-top: 5rem;
    position: relative;
  }
}
