/** @format */

@media screen and (max-width: 720px) {
  #nav-bar {
    display: none;
  }
  .nav-humburger {
    display: flex;
  }

  #profile,
  #about,
  #experience,
  #projects {
    max-width: min-content;
    height: min-content;
  }
  .arrow {
    display: none;
  }
  #projects {
    display: none;
  }
  #footer {
    padding: 0;
    margin: 0;
    height: min-content;
    width: min-content;
    margin-left: 6rem;
  }
  #footer .text-container {
    gap: 1rem;
    margin-left: 8rem;
  }

  #experience {
    margin-bottom: 0;
  }
}
